<article class="post">
  <header class="post__header">
    <div class="post__author">
      <div class="post__author-pic"></div>
      <span class="post__author-name">Author Name</span>
    </div>
    <span class="post__time">2 min ago</span>
  </header>

  <div class="post__content">
    <img src="https://placehold.it/1920x1080" alt="">
  </div>

  <footer class="post__footer">
    <ul class="post__comments-list">
      <li class="post__comment">
        <span class="post__comment-author">Comment author</span>
        <span class="post__comment-text">Lorem ipsum dolor sit amet.</span>
      </li>
    </ul>
  </footer>
</article>
